# copy or _hard_link to
#   Debian: /lib/systemd/system/sabnzbd@.service
#   others: /usr/lib/systemd/system/sabnzbd@.service
#
# To start SABNzbd once for USER use:
#   systemctl start sabnzbd@USER.service
#
# To start SABNzbd on boot for USER use:
#   systemctl enable sabnzbd@USER.service
#
# Config will be placed in ~USER/.sabnzbd/

[Unit]
Description=SABnzbd binary newsreader
Documentation=https://sabnzbd.org/wiki/



[Service]
ExecStart=/usr/bin/python2.7 /home/%I/.sabnzbd/SABnzbd.py --daemon --config-file=/home/%I/.config/sabnzbd/sabnzbd.ini -s 127.0.0.1
User=%I
Group=%I
Type=forking
GuessMainPID=no

[Install]
WantedBy=multi-user.target
