#
#
#
#

[Unit]
Description=Teamspeak3 Service
Wants=network.target

[Service]
WorkingDirectory=/home/teamspeak3
User=teamspeak3
ExecStart=/home/teamspeak3/ts3server_minimal_runscript.sh
ExecStop=/home/teamspeak3/ts3server_startscript.sh stop
ExecReload=/home/teamspeak3/ts3server_startscript.sh restart
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
